@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/BasicInfo/Index.css" asp-append-version="true" />
    

}

<div class="frmtx">
    <form method="POST" accept-charset="utf-8" id="create_Info">
        <fieldset>
            <legend>信徒基本資料</legend>
            <div>
                <label class="household_Lead_ID">戶長編號: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>XXX</span>
            </div>
            <div>
                <label class="household_ID">信徒編號: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>XXX</span>
            </div>
            
            
            
            <div class="cntrl">
                <label class="h">設為戶長: </label>

                <label><input type="radio" name="Is_head" value="leader" > 戶長</label>
                <label><input type="radio" name="Is_head" value="not_leader" checked> 否</label>
                
            </div>
            <div>
                <div>
                    <label for="vn">姓名</label>
                    <input type="text" name="Name" id="name" required>
                </div>
                <div>
                    <label for="vn">年齡</label>
                    <input type="text" name="Age" id="age" required>
                </div>
                
            </div
            <label class="h">生肖</label>
            <div>
                
                <div class="cntrl">
                    <label><input type="radio" name="Zodiac" value="鼠" > 鼠</label>
                    <label><input type="radio" name="Zodiac" value="牛"> 牛</label>
                    <label><input type="radio" name="Zodiac" value="虎" > 虎</label>
                    <label><input type="radio" name="Zodiac" value="兔"> 兔</label>
                    <label><input type="radio" name="Zodiac" value="龍" checked> 龍</label>
                    <label><input type="radio" name="Zodiac" value="蛇"> 蛇</label>
                    <label><input type="radio" name="Zodiac" value="馬" > 馬</label>
                    <label><input type="radio" name="Zodiac" value="羊"> 羊</label>
                    <label><input type="radio" name="Zodiac" value="猴" > 猴</label>
                    <label><input type="radio" name="Zodiac" value="雞"> 雞</label>
                    <label><input type="radio" name="Zodiac" value="狗" > 狗</label>
                    <label><input type="radio" name="Zodiac" value="豬"> 豬</label>
                </div>
                <div>
                    <label for="datean">身分證字號</label>
                    <input type="text" name="ID_num" id="ID" >
                </div>
            </div>
            <div>
                <div>
                    <label for="datean">農曆生日</label>
                    <input type="text" name="Lunar_birthday" id="Lunar_birthday" placeholder="例如, 1990/01/15">
                </div>
                
                <div>
                    <label for="nn">市話</label>
                    <input type="text" name="Home_num" id="Home_num" >
                </div>
            </div>
            <div>
                <div>
                    <label for="dateab">國曆生日</label>
                    <input type="text" name="Birthday" id="Birthday" placeholder="例如, 1990/01/15" >
                </div>

                <div>
                    <label for="nn">行動電話</label>
                    <input type="text" name="Phone" id="Phone" >
                </div>
            </div>
            <div class="Address_col">
                <div>
                    <input type="text" name="Postal_code_household" id="Postal_code" >
                </div>
                <div>
                    <label for="nn">戶籍地址</label>
                    <input type="text" name="Household_address" id="Household_address" >
                </div>
            </div>
            <div class="Address_col">
                <div>
                    <input type="text" name="Postal_code_cur" id="Postal_code_cur" >
                </div>
                <div>
                    <label for="nn" class="address-label">
                        通訊地址&nbsp;&nbsp;   
                        <button type="button" style="display:inline-block;">同上</button>
                            
                    </label>
                    
                    <input type="text" name="Current_address" id="Current_address" >
                </div>
            </div>

            <label class="h">性別</label>
            <div class="cntrl">
                <label><input type="radio" name="Sex" value="boy" checked> 男</label>
                <label><input type="radio" name="Sex" value="girl"> 女</label>
            </div>
            
        </fieldset>
        <fieldset>

            <div>
                <div>
                    <label for="vn">職業<label>
                    <input type="text" name="Job" id="Job" >
                </div>
                <div>
                    <label for="vn">類別</label>
                    <div class="cntrl Character_type">
                        <label><input type="radio" name="Character_type" value="信徒" checked> 信徒</label>
                        <label><input type="radio" name="Character_type" value="代表"> 代表</label>
                        <label><input type="radio" name="Character_type" value="董事" checked> 董事</label>
                        <label><input type="radio" name="Character_type" value="契子"> 契子</label>
                        <label><input type="radio" name="Character_type" value="廟宇" checked> 廟宇</label>
                        <label><input type="radio" name="Character_type" value="機關"> 機關</label>
                    </div>
                </div>
            </div>
            
            <label for="msg">備註</label>
            <textarea rows="5" name="Note" id="Note"></textarea>
        </fieldset>
        <fieldset>
            
            <button type="submit" id="submit_basicInfo">建立</button>
        </fieldset>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<! -- 創建個人資料 -->
    <script>
        $(document).ready(function () {
           $('#create_Info').submit(function(e) {
                e.preventDefault(); // 防止 form 提交，讓畫面不跳頁

                // 序列化 form 內的資料
                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/BasicInfo/NewBasicInfo",
                    data: formData ,

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            alert(`${result.Name} : 已成功創建資料！`);

                        }else{
                            alert(`${result.Name},${result.message} : 失敗創建資料！`);
                        }
                     
                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>

