@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // <link rel="stylesheet" href="https:www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="~/css/DonateOperation/Index.css">
    <link rel="stylesheet" href="~/css/DonateOperation/w3.css"> //此為自行下載後的.css (w3css/5/w3.css)
}
<div class="button_wrapper">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="DonateButton" data-bs-toggle="dropdown" aria-expanded="false">
            捐獻類別(戶)
        </button>
        <ul class="dropdown-menu" aria-labelledby="DonateButton">
            <li><a class="dropdown-item" href="#">大斗</a></li>
            <li><a class="dropdown-item" href="#">小斗</a></li>
            <li><a class="dropdown-item" href="#">平安燈</a></li>
            <li><a class="dropdown-item" href="#">安太歲</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="DonateButton1" data-bs-toggle="dropdown" aria-expanded="false">
            捐獻類別(個人)
        </button>
        <ul class="dropdown-menu" aria-labelledby="DonateButton1">
            <li><a class="dropdown-item" href="#">光明燈(一) 600</a></li>
            <li><a class="dropdown-item" href="#">光明燈(二) 700</a></li>
            <li><a class="dropdown-item" href="#">光明燈(三) 800</a></li>
            <li><a class="dropdown-item" href="#">光明燈(四) 1000</a></li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
<span id="btn_2">
    <button class="button-25" id="modify_button" role="button"> 新增捐獻</button>
</span>

<table class="w3-table-all w3-xlarge fixed-table">
    <colgroup>
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 15%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
    </colgroup>

    <br />
    <br />
    <br />
    <br />
    <div id="time">時間: <span>XX:xx</span></div>

    <tr>
        <th>安斗</th>
        <th>個人編號</th>
        <th>姓名</th>
        <th>光明燈類型</th>
        <th>平安燈</th>
        <th>安太歲</th>
        <th>總捐獻(價格)</th>
        <th>備註</th>
    </tr>

    <tr>
        <td>
            <input checked="" class="check_dipper" type="checkbox" disabled>
            <span>大斗</span>
        </td>
        <td>
            <div>0021</div>
        </td>
        <td>
            <div>小大頭了</div>
        </td>
        <td>
            <div>700</div>
        </td>
        <td>
            <div>200</div>
        </td>
        <td>
            <div>500</div>
        </td>
        <td>
            <div>3000</div>
        </td>
        <td>
            <textarea class="cell-edit-textarea">..52145646545451465845463.</textarea>
        </td>

    </tr>

    <tr>
        <td>
            <input class="no_check_dipper" type="checkbox">
            <span>無</span>
        </td>
        <td>
            <div>0021</div>
        </td>
        <td>
            <div>大頭頭</div>
        </td>
        <td>
            <div></div>
        </td>
        <td>
            <div></div>
        </td>
        <td>
            <div>500</div>
        </td>
        <td>
            <div>3000</div>
        </td>
        <td>
            <textarea class="cell-edit-textarea">...</textarea>
        </td>

    </tr>
    
</table><br /><br /><br />

<button class="button-24" role="button"> 確定送出</button>