.fixed-table td {
    padding: 8px;
    vertical-align: top;
    overflow: hidden;
}

.cell-edit-textarea {
    width: 100%;
    height: auto;
    min-height: 1em;
    resize: none;
    box-sizing: border-box;
    word-break: break-all;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    border: none;
    background: transparent;
    font-size: 1.2em;
}

/* CSS */
.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

    .button-4:hover {
        background-color: #F3F4F6;
        text-decoration: none;
        transition-duration: 0.1s;
    }

    .button-4:disabled {
        background-color: #FAFBFC;
        border-color: rgba(27, 31, 35, 0.15);
        color: #959DA5;
        cursor: default;
    }

    .button-4:active {
        background-color: #EDEFF2;
        box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
        transition: none 0s;
    }

    .button-4:focus {
        outline: 1px transparent;
    }

    .button-4:before {
        display: none;
    }

    .button-4:-webkit-details-marker {
        display: none;
    }

/* CSS */
.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .button-24:hover,
    .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .button-24:active {
        opacity: .5;
    }


.button-25 {
    background: #01814A;
    border: 1px solid #01814A;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .button-25:hover,
    .button-25:active {
        background-color: initial;
        background-position: 0 0;
        color: #01814A;
    }

    .button-25:active {
        opacity: .5;
    }

/*刪除button*/
.keycap {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

    /* letter */
    .keycap .letter {
        position: absolute;
        left: 12px;
        top: 12px;
        color: #e9e9e9;
        font-size: 16px;
        transition: transform 0.1s ease-in-out;
    }

    /* before */
    .keycap::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 14px;
        right: 12px;
        background: linear-gradient(90deg, #232323, #4a4a4a);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;
        transition: all 0.1s ease-in-out;
    }

    /* active */
    .keycap:active {
        transform: translateY(2px);
        box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.5), 5px 10px 15px rgba(0, 0, 0, 0.3);
    }

        .keycap:active::before {
            top: 5px;
            left: 5px;
            bottom: 11px;
            right: 11px;
            box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.15), 5px 3px 5px rgba(0, 0, 0, 0.1);
        }

        .keycap:active .letter {
            transform: translateY(1px);
        }