@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/ChangeHousehold/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/bootstrap.min.css.map" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ChangeHousehold/Index.css" asp-append-version="true" />
}
<body>
    <div id="flex-query">
        <div>
            <form method="POST" id="search_household">
                <input type="text" class="cell-edit-input" maxlength="7" placeholder="輸入戶號" name="household_id">
                <button id="btn_search">
                    查詢
                </button>
            </form>
            
        </div>

        <div>
            <input type="text" class="cell-edit-input" maxlength="7" placeholder="輸入姓名">
            <button id="btn_search_name">
                查詢
            </button>
        </div>
    </div>
    
    
    <div class="content">

        <div class="container">



            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">信徒編號</th>
                            <th scope="col">姓名</th>
                            <th scope="col">年齡</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">

                            <td>
                                <a href="">
                                    0021
                                </a>

                            </td>
                            <td class="pl-0">
                                <div class="d-flex align-items-center">


                                    <div>James Yates</div>
                                </div>
                            </td>
                            <td>
                                20
                            </td>
                        </tr>
                        <tr scope="row">

                            <td>
                                <a href="">
                                    0022
                                </a>

                            </td>
                            <td class="pl-0">
                                <div class="d-flex align-items-center">


                                    <div>James Yates</div>
                                </div>
                            </td>
                            <td>
                                20
                            </td>


                        </tr>
                        <tr scope="row">

                            <td>
                                <a href="">
                                    0023
                                </a>

                            </td>
                            <td class="pl-0">
                                <div class="d-flex align-items-center">


                                    <div>James Yates</div>
                                </div>
                            </td>
                            <td>
                                20
                            </td>


                        </tr>
                        <tr scope="row">

                            <td>
                                <a href="">
                                    0024
                                </a>
                               
                            </td>
                            <td class="pl-0">
                                <div class="d-flex align-items-center">


                                    <div>James Yates</div>
                                </div>
                            </td>
                            <td>
                                20
                            </td>


                        </tr>


                    </tbody>
                </table>
            </div>


        </div>

    </div>

    <button>上一戶</button>
    <button>下一戶</button>



    <script src="~/js/ChangeHousehold/bootstrap.min.js"></script>
    <script src="~/js/ChangeHousehold/jquery-3.3.1.min.js"></script>
    <script src="~/js/ChangeHousehold/main.js"></script>
    <script src="~/js/ChangeHousehold/owl.carousel.min.js"></script>
    <script src="~/js/ChangeHousehold/popper.min.js"></script>

    <!-- 查詢特定戶號  -->
    <script>
        $(document).ready(function (){
            $('#search_household').submit(function(e) {
                e.preventDefault(); // 防止 form 提交，讓畫面不跳頁
                $('#search_household').off('submit');   // 先移除舊事件，避免重複提交


                // 序列化 form 內的資料
                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/ChangeHousehold/GetHousehold",
                    data: formData,

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            alert(`${JSON.stringify(result.info)} ${result.household_id} ！`);
                            // location.reload(); 配合controller傳Json，js刷新頁面



                        }else{
                            alert(`${result.message} : 失敗更新！`);
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>


</body>