@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/ModifyAge/Index.css" asp-append-version="true" />
}

<!-- From Uiverse.io by ErzenXz -->
<button class="age_btn" id="add_age">
    增歲
</button>
<button class="age_btn" id="minus_age">
    減歲
</button>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/ModifyAge/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModifyAge/bootstrap.min.css.map" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModifyAge/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModifyAge/style.css" asp-append-version="true" />
}
@model List<TempleManagement.Models.BasicInfo>

<body>

    <div class="content">

        <div class="container">
 
            

            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            
                            <th scope="col">信徒編號</th>
                            <th scope="col">姓名</th>
                            <th scope="col">年齡</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (Model != null)
                        {
                            @foreach (var item in  Model)
                            {
                                <tr scope="row">

                                    <td>
                                        @item.MID
                                    </td>
                                    <td class="pl-0">
                                        <div class="d-flex align-items-center">


                                            <a href="#">@item.Name</a>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Age
                                    </td>
                                </tr>
                            }
                        }
                        

                    </tbody>
                </table>
            </div>


        </div>

    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ModifyAge/bootstrap.min.js"></script>
    <script src="~/js/ModifyAge/jquery-3.3.1.min.js"></script>
    <script src="~/js/ModifyAge/main.js"></script>
    <script src="~/js/ModifyAge/owl.carousel.min.js"></script>
    <script src="~/js/ModifyAge/popper.min.js"></script>


    <!-- 增1歲  -->
    <script>
        $(document).ready(function (){
            $('#add_age').click(function(e) {
                $.ajax({
                    type: "GET",
                    url: "/ModifyAge/AddAge",

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            // alert(`${result.message} ！`);
                            location.reload(); // 配合controller傳Json，js刷新頁面
                            
                           

                        }else{
                            alert(`${result.message} : 失敗更新！`);
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>

    <!-- 減1歲  -->
    <script>
        $(document).ready(function (){
            $('#minus_age').click(function(e) {
                $.ajax({
                    type: "GET",
                    url: "/ModifyAge/MinusAge",

                    success: function (result) {
                        console.log("成功!");

                        if (result.success) {
                            // alert(`${result.message} ！`);
                            location.reload(); // 配合controller傳Json，js刷新頁面



                        }else{
                            alert(`${result.message} : 失敗更新！`);
                        }

                    },
                    error: function (xhr, status, error) {
                        alert("發生錯誤：" + error);
                    }
                });
            });
        });
    </script>





</body>